# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environment
.venv/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# Debug files
*.prof
*.profraw

# Test files
*.pytest_cache/
